.idea
.vs
Intermediate
Binaries
*.log
Saved
/GGTD2.sln.DotSettings.user
/GGTD2.uproject.DotSettings.user
/Content/__ExternalActors__/TopDown/Maps/
/Saved/Logs/GGTD2-backup-2025.02.23-12.06.20.log
/Saved
